<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Intensify by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="index.html" class="logo">DataLabs</a>
				<nav class="right">
					<a href="#" class="button alt">Log in</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Python End to End Demo</h1>
						<p>Aliquam erat volutpat nam dui </p>
					</header>

					<!-- Content -->
						<h2 id="content">What is in this Demo?</h2>
						<p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing.</p>

						<h3>Result Bar</h3>
						<div class="12u$"> {{text | safe}} </div> </br>

					<hr class="major" />
									<h3>Python Function</h3>
											<form action="{{url_for('success')}}" method="POST">
												<div class="row uniform">
													<div class="6u 12u$(medium)">
														<input title="Your Height" placeholder="Enter your height in cm" type="text"  min="50", max="300" name="height_name" required>
													</div>
													<div class="6u$ 12u$(medium)">
														<input title="Your Weight" placeholder="Enter your weight in kg" type="text" min="20", max="300" name="weight_name" required>
													</div>

													<div class="12u$">
														<input type="submit" value="Submit" class="primary" />
													</div>
											</form>

											<!-- Hcatalog Hive Table -->
											<form action="{{url_for('get_table')}}" method="POST">
												<h3>HCatalog Hive</h3>
												<div class="row uniform">
													<div class="12u$">
														<input type="submit" value=" Get Table" class="primary"> </input>
													</div>
											</form>

											<!-- Hcatalog Hive Columns-->
											<form action="{{url_for('get_columns')}}" method="POST">
												<h3>HCatalog Hive Columns</h3>
												<div class="row uniform">
													<div class="12u$">
														<input title="Table Name" placeholder="Enter Table Name. Ex: test_2" type="text" name="table_name" required> <br/>
														<input type="submit" value="Get Columns" class="primary"> </input>
													</div>
											</form>



											<!-- Spark RDD Process Data -->
											<form action="{{url_for('spark_process')}}" method="POST">
												<h3>Spark RDD Process</h3>
												<div class="row uniform">
													<div class="12u$">
														<input type="submit" value="Spark Process" class="primary"> </input>
													</div>
											</form>

											<!-- Spark Query Process Data -->
											<form action="{{url_for('spark_query')}}" method="POST">
												<h3>Spark Query SQL</h3>
												<div class="row uniform">
													<div class="12u$">
														<input title="Query Text" placeholder="SELECT * FROM default.test_2" type="text" name="query_text" required> <br/>
														<input type="submit" value="Spark Query" class="primary"> </input>
													</div>
											</form>

											<!-- Spark Query Process Data  from API-->
											<form action="{{url_for('spark_api')}}" method="POST">
												<h3>Word Length using SPARK API</h3>
												<div class="row uniform">
													<div class="12u$">
														<input title="Query Text" placeholder="Put any word. Ex : Hello World" type="text" name="word" required> <br/>
														<input type="submit" value="Submit Job" class="primary"> </input>
													</div>
											</form>

											<!-- Spark Query Hive Table Data from API-->
											<form action="{{url_for('spark_hive_api')}}" method="POST">
												<h3>Spark Query SQL from Hive through API</h3>
												<div class="row uniform">
													<div class="12u$">
														<input title="Query Text" placeholder="Table name in Hive. Ex test_2" type="text" name="table_name" required> <br/>
														<input type="submit" value="Spark Hive Query" class="primary"> </input>
													</div>
											</form>

											<!-- Predict using Machine Learning -->
												<form action="{{url_for('predict_ml')}}" method="POST">
													<h3>Predict Using Machine Learning</h3>
													<div class="row uniform">
														<div class="12u$">
															<input title="Your Gender" placeholder="Female or Male" type="text"  min="50", max="300" name="sex_name" required>
														</div>
														<div class="12u$">
															<input title="Your Age" placeholder="Your Age. Ex : 25" type="text" min="20", max="300" name="age_name" required>
														</div>
														<div class="12u$">
															<input type="submit" value="Submit" class="primary" />
														</div>
												</form>

											<!-- Build model using Machine Learning -->

											<form action="{{url_for('build_model_ml_spark_api')}}" method="POST">
												<h3>Build Auto ML</h3>
												<div class="row uniform">
													<div class="12u$">
														<input title="Table Name" placeholder="Table Name. Ex bank" type="text"  min="50", max="300" name="table_name" required>
													</div>
													<div class="12u$">
														<input title="Target Column" placeholder="Target Column. Ex TARGET" type="text" min="20", max="300" name="target_col" required>
													</div>
													<div class="12u$">
														<input type="submit" value="Submit" class="primary" />
													</div>
											</form>

											<!-- Predict using Machine Learning via API -->
											<form action="{{url_for('predict_ml_spark_api')}}" method="POST">
												<h3>Predict Auto ML</h3>
												<div class="row uniform">
													<div class="12u$">
														<input title="Table Name" placeholder="Table Name. Ex bankclasssamplepredict" type="text" name="table_name" required>
													</div>
													<div class="12u$">
														<input type="submit" value="Submit" class="primary" />
													</div>
											</form>

											<!-- Show Charts -->

											<!-- Random Generate Data to Postgresql -->
											<form action="{{url_for('generate_random_transaction')}}" method="POST">
												<h3>Random Generate Transaction Data to PostgreSql</h3>
												<div class="row uniform">
													<div class="12u$">
														<input type="submit" value="Random Transaction" class="primary"> </input>
													</div>
											</form>

											<!-- Batch Process from Postgresql to Hive -->
											<form action="{{url_for('postgres_to_hive')}}" method="POST">
												<h3>Append table in Hive from PostgreSql</h3>
												<div class="row uniform">
													<div class="12u$">
														<input type="submit" value="Batch Load Append" class="primary"> </input>
													</div>
											</form>

											<!-- Stream Process from Postgresql to Hive -->


							</div>
						</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
